html, * {
    font-family: helvetica;
    box-sizing: border-box;
}
  
body {
    height: 100vh;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

}

h1, h2{
    text-align: center;
    color: red;
    font-family: 'Vampiro One', cursive;
}

.board {
    background: lightgray;
    height: 580px;
    width: 580px;
    border-radius: 50%;
    border: 2px solid;
    justify-content: center;
}

.button {
    opacity: .5;
}

.button:active, .active-button {
    opacity: 1;
    border: solid 5px palegreen;
    transition: outline 0.2s linear;
    margin: 0.5em;
}

#button-y {
    background: goldenrod;
    height: 215px;
    width: 215px;
    border-radius: 270px 0 0 0; 
    position: relative;
    top: 50px;
    left: 50px; 
}

#button-y:active {
    top: 40px;
    left: 40px;
}

#button-b {
    background: blue;
    height: 215px;
    width: 215px;
    border-radius: 0 270px 0 0;
    position: relative;
    bottom: 170px;
    left: 300px;
}

#button-b:active {
    bottom: 160px;
    left: 310px;
}


#button-r {
    background: red;
    height: 215px;
    width: 215px;
    border-radius: 0 0 0 270px; 
    position: relative;
    bottom: 130px;
    left: 50px;
}

#button-r:active {
    bottom: 120px;
    left: 40px;
}

#button-g {
    background: green;
    height: 215px;
    width: 215px;
    border-radius: 0 0 270px 0; 
    position: relative;
    bottom: 350px;
    left: 300px;
}

#button-g:active {
    bottom: 340px;
    left: 290px;
}

#panel {
    background: silver;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    position: relative;
    bottom: 400px;
    left: 164px;
    border: 4px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


